# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

ETC/*.mdj
